# Configuration file :
#

limit                   = 50

[path]
path                    = '/usr/local/media-server'
data                    = '/etc/media-server'
logs                    = '/var/log/media-server/application.log'

[log]
level                   = 7

[servers]
servers['local']        = '/api.php'

[types]
types['server']         = '\.server$'
types['folder']         = '__DIRECTORY__'
types['image']         = '(jpe?g|png)$'
types['video']         = '(ogg|mpeg|avi|mov)$'
types['music']         = '(mp3|m4a)$'
types['pdf']         = '\.pdf$'
types['card']         = '\.card\.json$'
types['album']         = '\.album.json$'
types['hidden']         = '(^\.|~$)'

[image]
image['extensions']     = '(jpe?g|png)$'

image['micro']          = 'micro'
micro['width']          = 128
micro['height']         = 128

image['thumb']          = 'thumb'
thumb['width']          = 640
thumb['height']         = 640

image['preview']        = 'preview'
preview['width']        = 1280
preview['height']       = 1024

image['full']           = 'full'
full['width']           = 4096
full['height']          = 3072

[video]
video['extensions']    = '(ogg|mpeg|avi)$'
video['thumb']         = 'thumb'

[music]
music['extensions']     = '(mp3|m4a)$'

[pdf]
pdf['thumb']          = 'thumb'

[filter]
filters['hidden']       ="(^\.)"

[users]
users['admin']         = 'admin'

admin['methods']       = '["get","post","put","delete"]'
